<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<input type="text" id="chat-nickname" value="random guy">
<input type="text" id="chat-message">
<button id="send-chat-action">chat</button>

<hr>

<ul class="chat-messages">

</ul>


<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/socket.io.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
</body>
</html>